<body>
    <section>
        <div class="container h-100">
            <div class="">
                <div class="col-lg-2 col-xl-11">
                    <div class="" style="background-color: transparent;">
                        <div class="row justify-content-center" style="background-color: transparent;">
                            <!-- <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <h1>
                                    hhgh

                                </h1>
                            </div> -->

                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-3 m-1 mx-md-2 mt-2" style="color: white;">Login
                                </p>

                                <form class="img-thumbnail pe-3 mt-3 pt-4 h-90" id="form">



                                    <!-- email -->
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label">Email</label>
                                            <input type="email" id="emailInput" class="form-control" />

                                        </div>
                                    </div>
                                    <!-- email -->

                                    <!-- password -->
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label">Password</label>
                                            <input type="password" id="passwordInput" class="form-control" />

                                        </div>
                                    </div>
                                    <!-- password -->






                                    <div class="col-sm">
                                        <!-- [ngStyle]="{'background-color': colorOfCheckBox}" -->

                                        <input class="form-check-input ms-3" type="checkbox" id="remember-me"
                                            />

                                        <label class="form-check-label ms-2 mb-3">
                                            Remember me
                                        </label>

                                    </div>


                                    <div class="d-flex justify-content-center mx-4 mb-3">
                                        <button type="button" class="btn btn-primary btn-lg" id="my-register-btn"
                                            (click)="clickOnLogin()">Login</button>
                                    </div>


                                </form>
                                <div class="col-sm justify-content-center" style=" text-align: center;" id="btn-login">
                                    <label>Don't Have Account? <button class="btn info" id="go-to-register"
                                            (click)="clickOnDonHaveAccount()">Register</button></label>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>