#welcome-message {
  text-align: center;
  margin: 10px;
  background-color: #008170;
  border-radius: 25px;
  height: 200px;
}

#add-slot {
  /*background-color: green;*/
  border-radius: 25px;
  text-align: center;

  margin: 10px;

}

#add-slot-button {
  width: 15vw;
  margin: 10px;
  background-color: #00BFA6;
  color: white;
}

#add-slot-button :hover {
  width: 200px;
  margin: 10px;
  background-color: #00BFA6;
  text-align: start;
}

#data-picker {
}

#time-piker {

}
.example-viewport {
  margin-top: 10px;
  /*padding: 10px;*/
  height: 400px;
  width: 80vw;
  /*padding: 0;*/
  /*margin: 0;*/
  /*border: 1px solid black;*/
}

.example-item {
  height: 50px;
  /*padding: 0;*/
  /*margin: 0;*/
}

.example-viewport::-webkit-scrollbar{
  display: none;
}


#one-doctor{
  cursor: pointer;
  padding: 5px;
  margin: 0;
}

#one-doctor:hover{
  /*background-color:black;*/
  color: #008170;
  /*opacity: 0.5;*/
  cursor: pointer;
}

#search-button:hover{
  background-color: #008170;
  color: white;
}

