<div class="row justify-content-center" style="margin: 10px ;width: 82vw;text-align: center;background-color: transparent">
  <button (click)="refresh()" class="btn btn-primary" id="refresh-btn" style="width: 20%">Refresh</button>
</div>
<div style="height: 500px;background-color: transparent">

  <cdk-virtual-scroll-viewport [itemSize]="messages!.length" class="example-viewport" style="scrollbar-width: none;">

    <div class="row"
         style="margin: 5px;padding-top:5px;padding-bottom: 5px ;background-color: #232D3F ;border-radius: 8px;  width: 83vw;">
      <div class="col-1" style="color: white">
        ID
      </div>
      <div class="col-1" style="color: white">
        Patient Name
      </div>
      <div class="col-2" style="color: white">
        Phone
      </div>
      <div class="col-2" style="color: white">
        Email
      </div>
      <div class="col-1" style="color: white">
        Status
      </div>
      <div class="col-2" style="color: white">
        Description
      </div>
      <div class="col-2" style="color: white ;background-color: transparent">
        Last Updated
      </div>

    </div>


    <div *cdkVirtualFor="let message of messages;" class="example-item" id="one-doctor">

      <div class="row" style="margin: 0">

        <div class="col-1">
          {{message.id}}
        </div>
        <div class="col-1">
          {{message.patientName}}
        </div>
        <div class="col-2">
          {{message.patientPhone}}
        </div>
        <div class="col-2">
          {{message.patientEmail}}
        </div>
        <div class="col-1">
          {{message.status}}
        </div>
        <div class="col-2" style="font-size: 14px">
          {{message.description}}
        </div>
        <div class="col-2" style="background-color: transparent">
          {{formatDate(message.updatedAt, "MMMM dd,YYYY")}}
        </div>
        <hr style="margin-left:  5px; margin-right: 5px;margin-top: 10px">

      </div>

    </div>

  </cdk-virtual-scroll-viewport>
</div>
