<html>

<body class="row">
<div class="col">
  <div style="width:84vw;height: auto ;overflow-x:scroll;">
    <table>
      <tr>

        <td (click)="getDoctors('General-Practitioner-(GP)')">
          <div style="text-align: center; ">
            <img src="/assets/icons/stethoscope.png" style="height: 200px ;margin: 10px">
            <h6>
              General Practitioner (GP)
            </h6>
          </div>

        </td>

        <td (click)="getDoctors('Cardiologist')">
          <div class="" style="text-align: center;">
            <img src="/assets/icons/cardiologist.png" style="height: 200px ;margin: 10px">
            <h6>
              Cardiologist
            </h6>
          </div>
        </td>

        <td (click)="getDoctors('Orthopedic-Surgeon')">
          <div class="" style="text-align: center;">
            <img src="/assets/icons/orthopedics.png" style="height: 200px ;margin: 10px">
            <h6>
              Orthopedic Surgeon
            </h6>
          </div>

        </td>

        <td (click)="getDoctors('Dermatologist')">
          <div class="" style="text-align: center;">
            <img src="/assets/icons/dermatologist.png" style="height: 200px ;margin: 10px">
            <h6>
              Dermatologist
            </h6>
          </div>

        </td>

        <td (click)="getDoctors('Pediatrician')">
          <div class="" style="text-align: center;">
            <img src="/assets/icons/pediatrician.png" style="height: 200px ;margin: 10px">
            <h6>
              Pediatrician
            </h6>
          </div>

        </td>

        <td (click)="getDoctors('Gynecologist')">
          <div class="" style="text-align: center;">
            <img src="/assets/icons/gynecologist.png" style="height: 200px ;margin: 10px">
            <h6>
              Gynecologist
            </h6>
          </div>

        </td>

        <td (click)="getDoctors('Anesthesiologist')">
          <div class="" style="text-align: center;">
            <img src="/assets/icons/anesthesiologist.png" style="height: 200px ;margin: 10px">
            <h6>
              Anesthesiologist
            </h6>
          </div>

        </td>

        <td (click)="getDoctors('Radiologist')">
          <div class="" style="text-align: center;">
            <img src="/assets/icons/medical.png" style="height: 200px ;margin: 10px">
            <h6>
              Radiologist
            </h6>
          </div>

        </td>

        <td (click)="getDoctors('Neurologist')">
          <div class="" style="text-align: center;">
            <img src="/assets/icons/neurologist.png" style="height: 200px ;margin: 10px">
            <h6>
              Neurologist
            </h6>
          </div>

        </td>

        <td (click)="getDoctors('Psychiatrist')">
          <div class="" style="text-align: center;">
            <img src="/assets/icons/therapy.png" style="height: 200px ;margin: 10px">
            <h6>
              Psychiatrist
            </h6>
          </div>

        </td>

      </tr>
    </table>
  </div>
</div>
<div class="col">

  <cdk-virtual-scroll-viewport [itemSize]="doctors.length" class="example-viewport" style="scrollbar-width: none;">

    <div class="row"
         style="margin: 5px;padding-top:5px;padding-bottom: 5px ;background-color: #232D3F ;border-radius: 8px">
      <div class="col-2" style="color: white">
        Name
      </div>
      <div class="col-2" style="color: white">
        Email
      </div>
      <div class="col-1" style="color: white;background-color: transparent ;padding: 0">
        Age
      </div>
      <div class="col-2" style="color: white">
        Specialization
      </div>
      <div class="col-2" style="color: white">
        Phone
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="doctors.length==0" style="text-align: center">
      No Doctors Found
    </div>
    <div *cdkVirtualFor="let doctor of doctors;let i = index" class="example-item" id="one-doctor"
         (click)="openDialog(i)">


      <div class="row" style="margin: 0">
        <div class="col-2">
          {{doctor.name}}
        </div>
        <div class="col-2">
          {{doctor.email}}

        </div>
        <div class="col-1">
          {{doctor.age}}
        </div>
        <div class="col-2">
          {{doctor.specialization}}
        </div>
        <div class="col-2" style="background-color: transparent">
          {{doctor.phone}}
        </div>
      </div>
      <hr style="margin-left:  5px; margin-right: 5px;margin-top: 10px">

    </div>

  </cdk-virtual-scroll-viewport>

</div>

</body>

</html>
