.cdk-virtual-scroll-data-source-example .example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

.cdk-virtual-scroll-data-source-example .example-item {
  width: 50px;
  height: 100%;
  writing-mode: vertical-lr;
}

td:hover {
  cursor: pointer;
  color: #008170;
}
.example-viewport {
  margin-top: 10px;
  /*padding: 10px;*/
  height: 50vh;
  width: 85vw;
  /*padding: 0;*/
  /*margin: 0;*/
  /*border: 1px solid black;*/
}

.example-item {
  height: auto;
  /*padding: 0;*/
  /*margin: 0;*/
}

.example-viewport::-webkit-scrollbar {
  display: none;
}


#one-doctor {
  cursor: pointer;
  padding: 5px;
  margin: 0;
  border-radius: 8px;
  width: 83vw;
}

#one-doctor:hover {
  /*background-color:black;*/
  color: #008170;
  /*opacity: 0.5;*/
  cursor: pointer;
}

#search-button:hover {
  background-color: #008170;
  color: white;
}

#refresh-btn {
  background-color: white;
  border-color: #008170;
  color: #008170;
}

#refresh-btn:hover {
  background-color: #008170;
  color: white;
  border-color: #008170;
}
