<body>
<div class="container align-items-center h-100">
  <!-- <div class="img-fluid">
      <img src="\assets\images\bg.jpeg" id="p">

  </div> -->
  <div class="row h-100 align-items-center" id="c">


    <div class="col" style="text-align: center;">
      <button class="btn" (click)="clicOnPatient()">Patient
      </button>
    </div>

    <div class="col" style="text-align: center;">
      <button class="btn" (click)="clickOnDoctor()">Doctor
      </button>
    </div>

  </div>

</div>
</body>
